@media screen and (max-width: 800px)
{
   .content .copy-container {
      font-size: 1.7em;
   }
}

@media screen and (max-width: 730px)
{
   .content .copy-container {
      font-size: 1.4em;
   }
   
   .navigation-container .profiles-navigation {
      display: none;
   }
   
   .content .column-container .grid-1 { float: none; width: 100%; }
   .content .column-container .grid-2 { float: none; width: 100%; }
   .content .column-container .grid-3 { float: none; width: 100%; }
   .content .column-container .grid-4 { float: none; width: 100%; }
   .content .column-container .grid-5 { float: none; width: 100%; }
   .content .column-container .grid-6 { float: none; width: 100%; }
   .content .column-container .grid-7 { float: none; width: 100%; }
   .content .column-container .grid-8 { float: none; width: 100%; }
   .content .column-container .grid-9 { float: none; width: 100%; }
   .content .column-container .grid-10 { float: none; width: 100%; }
   .content .column-container .grid-11 { float: none; width: 100%; }
   .content .column-container .grid-12 { float: none; width: 100%; }
   
   .content .column-container .column-right,
   .content .column-container .right-column,
   .content .column-container .column-left,
   .content .column-container .left-column {
      padding: 0;
      margin-bottom: 20px;
   }
}

@media screen and (max-device-width: 480px)
{
   body {
      -webkit-text-size-adjust:none;
   }
   
   .content .copy-container {
      font-size: 1em;
   }
   
   .navigation-container .profiles-navigation {
      display: none;
   }
   
   .content .column-container .grid-1 { float: none; width: 100%; }
   .content .column-container .grid-2 { float: none; width: 100%; }
   .content .column-container .grid-3 { float: none; width: 100%; }
   .content .column-container .grid-4 { float: none; width: 100%; }
   .content .column-container .grid-5 { float: none; width: 100%; }
   .content .column-container .grid-6 { float: none; width: 100%; }
   .content .column-container .grid-7 { float: none; width: 100%; }
   .content .column-container .grid-8 { float: none; width: 100%; }
   .content .column-container .grid-9 { float: none; width: 100%; }
   .content .column-container .grid-10 { float: none; width: 100%; }
   .content .column-container .grid-11 { float: none; width: 100%; }
   .content .column-container .grid-12 { float: none; width: 100%; }
   
   .content .column-container .column-right,
   .content .column-container .right-column,
   .content .column-container .column-left,
   .content .column-container .left-column {
      padding: 0;
      margin-bottom: 20px;
   }
}