---
layout: base
class: notebook
---
<div class="copy-container">
   <div class="content">
      <h1 class="article-header"><a href="{{ page.url }}">{{ page.title }}</a></h1>
   </div>
</div>
         
<div class="plain-text-container">
   <div class="content">
      <article><div class="article">
         {{ content }}
         
         <ul class="share">
            <li class="twitter">
               <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="adunkman">Tweet</a>
            </li>
         </ul>
         <p class="article-info">
            <time>{{ page.date | date: '%B %d, %Y' }}</time>
            <span class="separator">&bull;</span>
            {% for category in page.categories %}
               <a href="/tags/{{ category }}">{{ category }}</a>
            {% endfor %}
         </p>
      </div></article>
   </div>
</div>
<div class="plain-text-container accent-container">
   <div class="content">
      <div class="column-container">
         
         <div class="grid-6">
            <h3>Related Posts</h3>
            <ul>
            {% for post in site.related_posts %}
               <li>
                  <a href="{{ post.url }}">{{ post.title }}</a> 
                  <span class="separator">&bull;</span> 
                  <time>{{ post.date | date: '%B %d, %Y' }}</time>
               </li>
            {% endfor %}
            </ul>
         </div>
         
         <div class="grid-6">
            <h3>About Andrew</h3>
            <p>Andrew is a student at Missouri S&amp;T in Rolla, Missouri studying Computer Science. He is passionate about usable software. <a href="/about.html" class="read-on">More</a></p>
         </div>
      </div>
   </div>
</div>
<div class="plain-text-container">
   <div class="content">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
         var disqus_shortname = 'dunkman';
         var disqus_identifier = '{{ page.id }}';
         (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
   </div>
</div>