---
layout: base
class: notebook
---
<div class="two-thirds-block">
   <div class="content">
      <article><div class="article">
         <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
         <div class="article-content">
            {{ content }}
         </div>
         <ul class="share">
            <li class="twitter">
               <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="adunkman">Tweet</a>
            </li>
         </ul>
         <p class="article-info">
            <time>{{ page.date | date: '%B %d, %Y' }}</time>
            <span class="separator">&bull;</span>
            {% for category in page.categories %}
               <a href="/tags/{{ category }}">{{ category }}</a>
            {% endfor %}
         </p>
      </div></article>
   </div>
</div>

<div class="one-third-block">
   <aside><div class="aside">
      <h3>About</h3>
      <p>Andrew is a student at Missouri S&amp;T in Rolla, Missouri studying Computer Science. He is passionate about usable software. <a href="/about.html" class="read-on">More</a></p>
   </div></aside>
</div>